@page
@using TechChallenge.Models
@model IndexModel

<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

<div id="Landing" class="row justify-content-center m-0">
    <div class="col-12 text-center my-5"> 
    <h1 class="landing-title">Welcome<br>to the<br><span>Bookstore</span></h1>
    </div>
    <div class="col-12 text-center">
    <button class="btn btn-light btn-lg" id="Catalog">Our catalog</button>
    </div>
</div>

<div id="Library" class="row justify-content-center m-0">
    @{
        foreach(var book in Model.Library){
            @await Html.PartialAsync("_Book", book)
        }
    }    
</div>

